/** release statuses */

.releasestatus {
  font-size: 1.4em;
  margin-right: .2em;
  color: red;
  background-color: transparent;

  &.todo {
    color: #999999;
  }

  &.done {
    color: green;
  }

  &.late {
    color: orange;
  }

  &.inprogress {
    color: #ffff00;
  }

  &.waiting {
    color: #2675e7;
  }

  &.default {
    color: #cc0000;
  }
}

.timeline_choices {
  li {

    &.risk {
      background-color: #CC5500;
      color: #535353;
    }

    &.test {
      background-color: #77B5FE;
      color: #535353;
    }

    &.rollback {
      background-color: #E0E0E0;
      color: #3A5D4E;
    }

  }
}